{
  "repo_dir": "../repos",
  "address": "http://example.com/",
  "repos": [
    {
      "login": "github_username",
      "org": "github_org_name",
      "password": "password!1234",
      "name": "project_name"
    }
  ]
}
