%div.row-fluid
  %h2 Added Repositories
  %ul.unstyled
    - @added_repos.each do |name, resp|
      %li
        Added
        %a{href:"/hotspots/#{name}"}=name
  %a.btn.btn-success{href:"/"} Go to Dashboard
