%a{href:'/'} Home
- @projects.each do |org, org_project|
  - org_project.each do |name, project|
    %h1=project.name
    - @project = project
    %img{:src=>histogram(sort_hotspots(project.get_hotspots))}
