%html
  %head
    %title
    %link{rel:"stylesheet", type:"text/css", media:"all", href:"/css/bootstrap.css"}
    %style{type:"text/css"}
      :plain
        body {
          padding-top: 60px;
          padding-bottom: 40px;
        }
    %link{rel:"stylesheet", type:"text/css", media:"all", href:"/css/bootstrap-responsive.css"}
  %body
    %div.navbar.navbar-fixed-top
      %div.navbar-inner
        %div.container-fluid
          %a.brand{href:"/"} Hotspots
    %div.container-fluid
      =yield
    %script{type:"text/javascript", src:"/js/bootstrap.js"}
