%div.row-fluid
  %form.form-horizontal{action:$urls[:ADD_REPOS], method:"POST"}
    %fieldset
      %legend Select Repositories
      %div.control-group
        - @repos.each do |repo|
          - name = repo["full_name"]
          <!-- XXXX: if repo or org name changes, things will break here! -->
          %label.checkbox{ for: name }
            <input type="checkbox" name="#{name}" value="#{repo["clone_url"]}" id="#{name}"
            - if repo["checked"]
              checked="checked"
            >
            = name
      %input{ type:"hidden", name: "token", value: @token }
      %div.form-actions
        %button.btn.btn-primary{ type:"submit"} Add Projects
